body {
    background-color: #f1f1f1;
}
h1.page {
    background-color:#505050;
    text-align: center;
}
h2.page {
    background-color:#505050;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    text-align: center;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.accordion2 {
    background-color: #111;
    color: #818181;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

.active2, .accordion2:hover {
    color: #f1f1f1;
}

.panel2 {
    background-color: #111;
    max-height: 0;
    padding-left: 10%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.cube_container{

    display: inline-block;
    width: 350px;
    height: 200px;
    margin: 5px;
    background-color: #ccc; 
}

img.cube {

    display: inline-block;
    width: 350px;
    height: 150px; 
}

div.description {
    font-size: 15px;
    padding: 15px;
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align: left;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    overflow-y: auto;
    padding-left: 60px;
    padding-bottom: 60px;
    border: 1px solid #888;
    width: 50%;
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

code {
    background-color: #f1f1f1;
    padding-left: 30px;
}

table {
    background-color: #f1f1f1;
    border: 1px solid Black;
}

td {
    border: 1px solid Black;
}

th {
    border: 1px solid Black;
}